<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />

    {% block meta %}{% endblock %}
    {# <link rel="stylesheet" href="js/{{ projectName }}.libs.css"> #}
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    

    <title>{% block title %}{% endblock %}</title>
  </head>
  
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {# <script src="js/{{ projectName }}.libs.js"></script> #}
    {# <script src="js/{{ projectName }}.js"></script> #}

        <!--  hiding left & right indicators -->
        <script >
            var checkitem = function() {
            var $this;
            $this = $("#myCarousel");
            if ($("#myCarousel .carousel-inner .item:first").hasClass("active")) {
              $this.children(".left").hide();
              $this.children(".right").show();
            } else if ($("#myCarousel .carousel-inner .item:last").hasClass("active")) {
              $this.children(".right").hide();
              $this.children(".left").show();
            } else {
              $this.children(".carousel-control").show();
            }
          };

          checkitem();

          $("#myCarousel").on("slid.bs.carousel", "", checkitem);
        </script>


          <!-- Scripts used for parallax-->
          <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
          
          <!-- Script for smooth scrolling -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.min.js"></script>
          <script src="http://maiadeen.emmarsolutions.in/ranjodh/jquery.enllax.min.js"> </script>
        <style type="text/css">
          .carousel-caption{
            z-index: 9999;
          }
        </style>

          <!-- plugin parallax effect activaton -->
          <script>

              (function($){
                  
                  //Plugin activation
                  $(window).enllax();
                  
      //            $('#some-id').enllax();
                  
      //            $('selector').enllax({
      //                type: 'background', // 'foreground'
      //                ratio: 0.5,
      //                direction: 'vertical' // 'horizontal'
      //            });
                  
                })(jQuery);



          </script>
          


      </body>

  
</html>
