<!-- footer -->
<footer class="bg-footer">
	<div class="container footer">
		<div class="row">
			<div class="col-md-6 col-lg-6 left_widget">
				<div class="footer_logo">
					<img class="logo_img_footer" src="img/logo/group-9@3x.png">
				</div>
				<div class="widget_1">
					<p class="footer_caption" >© InDots, 2016. <br> Todos los derechos reservados </p>
				</div>
				<div class="widget_2">
					<div class="wg_main">
    					<p class="text_wg"> Síguenos en: </p>
    					<img class="icon_img_footer" src="img/icons/group-11@3x.png"> 
    				</div>
    			</div>
    			<div class="widget_3">
    				<div class="wg_main">
    					<p class="text_wg"> Escríbenos a: </p>
    					<p style="color: white; font-size: 18px; "> IndotsMX@gmail.com </p>
    				</div>
				</div>
			</div>
			
			<div class="col-md-6 col-lg-6 right_widget">
				<div class="text_wg_white">
					<p class="white_text"> Suscríbete a nuestro Newsletter  </p>
				</div>
				<div class="footer_form">
    				<form class="form footer_form">
    					<div class="input_text text_form">
							<input type="form_sub" class="form-control1" id="correo" placeholder="Correo electrónico">
						</div>
						<div class="input_btn">
					    	<button type="submit" class="btn btn-default btn-xl-subs"> Suscribirme </button>
					    </div>
    				</form>
				</div>
			</div>
		</div>
	</div>
</footer>
