
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container nav_container">
	        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"> <img src=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#inicio">Inicio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#qu-es-inDots">Qu es InDots</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cursos">Cursos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#flash-inDots">Flash InDots</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
	    </div>
	</nav>

			<!-- slider -->
			<header>
			<div class="header-content">

				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				    <!-- Indicators -->
				    <ol class="carousel-indicators">
				      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				      <li data-target="#myCarousel" data-slide-to="1"></li>
				      <li data-target="#myCarousel" data-slide-to="2"></li>
				    </ol>

				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">
				    	<div class="parallax">
				    		<img src="/img/slider/group@3x.png" alt="" data-enllax-ratio=".1" data-enllax-type="foreground" style="z-index:99">
				    	</div>
					    <div class="item active">
					        <div class="carousel-caption header-content-inner data-enllax-ratio=".5"">
					        	<h1 class="banner_text" data-enllax-ratio=".5" data-enllax-type="foreground" data-enllax-direction="horizontal"> Descubre tu verdadero potencial </h1>
					        	<p class="header_text">Somos la plataforma en la que encuentras ideas, inspiración y herramientas para ampliar tu mente y tus conexiones.</p>
					        	<a href="#about" class="btn btn-primary btn-xl page-scroll">Nuestros cursos</a>
					        </div>
					    </div>

					    <div class="item">
					        <div class="carousel-caption header-content-inner">
					        	<h1 class="banner_text"> Descubre tu verdadero potencial </h1>
					        	<p class="header_text">Somos la plataforma en la que encuentras ideas, inspiración y herramientas para ampliar tu mente y tus conexiones.</p>
					        	<a href="#about" class="btn btn-primary btn-xl page-scroll">Nuestros cursos</a>
					        </div>
					    </div>
					    
					    <div class="item">
					        <div class="carousel-caption header-content-inner">
					        	<h1 class="banner_text"> Descubre tu verdadero potencial </h1>
					        	<p class="header_text">Somos la plataforma en la que encuentras ideas, inspiración y herramientas para ampliar tu mente y tus conexiones.</p>
					        	<a href="#about" class="btn btn-primary btn-xl page-scroll">Nuestros cursos</a>
					        </div>
					    </div>
				    </div>

				    <!-- Left and right controls -->
				    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				        <span class="glyphicon glyph_left">
				        	<img class="glyph_l" src="../img/icons/left-arrow-64.png" />
				        </span>
				        <span class="sr-only">Previous</span>
				    </a>
				    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				        <span class="glyphicon glyph_right">
				        	<img class="glyph_l" src="../img/icons/right-arrow-64.png" />
				        </span>
				        <span class="sr-only">Next</span>
				    </a>
				</div>
			</div>
</header>
