<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container nav_container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"                       
            	data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"> <img src="../img/logo/logo-indots-menu.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#inicio">Inicio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#qu-es-inDots">Qu es InDots</a>
                </li>
                <li>
                    <a class="page-scroll" href="#cursos">Cursos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#flash-inDots"><img src="img\icons\page-1.png">Flash InDots</a>
                </li>
                <li>
                    <a class="page-scroll" href="#blog">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contacto">Contacto</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>