/********* footer **************/
footer{
	padding 100px 0
}

.bg-footer{
	background-color $blue
}
.icon_img_footer {
    height: 20px;
}
.logo_img_footer {
	margin-bottom 30px
}
.text_wg{
	color $footercolor
	width 130px
	float left
	font-size 18px
	font-weight $black
}
.widget_1{
	color $white
	margin-bottom 50px
	font-family 'Avenir LT Std 55 Roman'
}
.widget_2{
	font-family 'Avenir LT Std 85 Heavy'
}
.right_widget {
	border-left 1px solid $white
}
.right_widget{
	margin-top 60px
	font-family 'Avenir LT Std 85 Heavy'
}
.white_text {
	color $white
	font-size 18px
	margin-left 200px
}
.footer_form {
	text-align right
}
.footer_caption {
	font-size 16px
}
.widget_3 {
	float left
	width 100%
}
.form-control1 {
	height 56px
	padding 12px 57px
	font-size 18px
	border solid 0.5px $darkwhite
	background-color $footerbtn
	color $white
	width 64%
}
.input_btn {
	margin-top 20px
}
.btn.btn-xl-subs {
	padding 0px 32px
	font-size 16px
}
.form-control1::-webkit-input-placeholder { 
  font-family 'Avenir LT Std 55 Roman'
}

.form-control1:-moz-placeholder { 
  font-family 'Avenir LT Std 55 Roman'
}
.mail_info{
	font-size 18px 
}

@media only screen and (max-width: 768px) {
	.left_widget {
		border-right 0px none
	}
	.logo_img_footer {
		width: 180px;
	}
	.footer_logo {
		margin-bottom 30px
	}
	.logo_img_footer {
		display block
		margin 0px auto
	}
	.widget_1, .widget_2, .widget_3{
		text-align center
	}
	.wg_main {
		float left
	}
	.mail_info{
		font-size 16px 
		float left
		margin-top 2px
		width 100%
	}

	.right_widget {
		float left
		text-align center
		width 100%
		margin-top 0px
	}
	.input_btn {
		text-align center
	}
	.text_wg {
		width 100%
		float left
	}
	.wg_main {
		width 100%
		float left
		margin-bottom 30px
	}
	.widget1{
		margin-bottom 30px
	}
	.widget_2, .widget_3 {
		float left
		width 100%
	}
}