.navbar-toggle{
	display none
}
.navbar-default.navbar-fixed-top {
  width 100%
  li {
    display inline-block
    }

}
.navbar{
	margin-bottom 0px !important
	border-bottom 0px none !important
}


/* css */
.container-fluid {
	height 80px
}
.navbar-default .navbar-nav > li > a {
	color $darkgrey !important
	font-size 18px
}
.navbar-right {
	height 80px
}
.navbar-nav > li {
	padding 13px 16px
}
.navbar-nav > li:hover {
	border-bottom 4px solid $color1
}
header {
	min-height 100%
	color $white
	width 100%
}
header .header-content {
  position relative
  text-align left
  width 100%
}
.carousel-caption{
	 text-align left
	 text-shadow 0px 0px 0px !important
}
header .header-content .header-content-inner {
	width 30%
	margin-left 610px
	margin-bottom 140px
}
.nav_container{
	width 84%
}

header .header-content .carousel-inner .carousel-caption p{
	font-size 22px
	margin-left auto
	margin-right auto
}

h1.banner_text{
	color $color1
}
.btn-xl {
	padding 14px 25px !important
	color $white
	font-weight 900
	background-color $color1 !important
	font-size 18px !important
	font-family 'Avenir LT Std 85 Heavy'
}

.banner_text{
	margin-top 80px
	margin-bottom 35px
	font-family 'Avenir LT Std 85 Heavy'
	font-size 45px
}

.header_text{
	margin 0 0 50px
}

.btn-primary:hover {
	color $white !important
	background-color $color4 !important
	border-color $color4 !important
}

.carousel-control {
	width 4% !important
}
.carousel-indicators {
	display none
}
.carousel-control.left, .carousel-control.right {
   background-image none !important
   filter none !important
}
.glyphicon{
    padding 14px
    background-color $color1
    color $white
    border-radius 40px
}
.glyph_l, .glyph_2 {
	height 28px
	width 28px
}

.glyphicon.glyph_right {
	position relative
	top 86%
	right 68%
}
.glyphicon.glyph_left {
	position relative
	top 86%
	left 68%
}
.about_text{
	color $darkgrey
	font-weight 500
	font-size 18px
	margin-bottom 30px
}

.bg-primary{
	background-image url('../images/rectangle-4@3x.png')
	background-size cover
	padding-bottom 0px
	height 450px
}

.text-center.logo-center {
	margin-bottom 50px
}

.custom_container {
	position relative
	top -165px
}
.text_s2 {
	margin-top 30px
}
.sr-icons {
	height 60px
}

.blog_content h2.blog_title{
	color $darkgrey
	margin-bottom 40px
}
 .blog_content p{
 	color $darkgrey
 }

 .img.img-responsive.thumb-img {
	width 410px
}
.thumbnail {
	width 410px
	padding 0
	background-color $color2
	border 0px none
}
.thumbnail .caption p{
	color $darkgrey
	}
.thumb_s1{
	padding-left 100px
	padding-right 100px
	color $darkgrey
}

/* parallax css */

@media only screen and (max-width: 768px) {
	.navbar-toggle{
		display block
	}
	.navbar-collapse.collapse{
		background-color $color1
	}
	.nav.navbar-nav.navbar-right {
		height: 200px;
	}
	.navbar-nav > li {
		padding 0px 0px
	}
	.navbar-default.navbar-fixed-top li {
		display block
	}
	.navbar-default .navbar-nav > li > a {
		color $white !important
	}
	.navbar-nav > li:hover {
		border-bottom 4px solid $white
	}
}