.navbar-toggle{
	display none
}
.navbar-default.navbar-fixed-top {
	width 100%
  
	li {
    	display inline-block
    }

}
.navbar{
	margin-bottom 0px !important
	border-bottom 0px none !important
}

/* css */

.navbar-default .navbar-nav > li > a {
	color $darkgrey !important
	font-size 18px
}
.navbar-brand{
	height 80px
	padding 10px 0px
}
.navbar-brand > img {
	width 200px
}
.navbar-right {
	height 80px
}
.navbar-nav > li {
	padding 13px 5px
}
.navbar-nav > li:hover {
	border-bottom 4px solid $blue
}
.btn-primary:hover {
	color $white !important
	background-color $lightblue !important
	border-color $lightblue !important
}
.about_text{
	color $darkgrey
	font-weight 500
	font-size 18px
	margin-bottom 30px
}
.bg-primary{
	background-image url('../images/rectangle-4@3x.png')
	background-size cover
	padding-bottom 0px
	height 450px
}
.text-center.logo-center {
	margin-bottom 50px
}
.custom_container {
	position relative
	top -165px
}
.text_s2 {
	margin-top 30px
}
.sr-icons {
	height 60px
}
.blog_content h2.blog_title{
	color $darkgrey
	margin-bottom 40px
}
.blog_content p{
 	color $darkgrey
}
.img.img-responsive.thumb-img {
	width 410px
}
.thumbnail {
	width 410px
	padding 0
	background-color $lightgray
	border 0px none
}
.thumbnail .caption p{
	color $darkgrey
}
.thumb_s1{
	padding-left 100px
	padding-right 100px
	color $darkgrey
}


@media only screen and (max-width: 765px) {
	.navbar-toggle{
		display block
	}
	.navbar-collapse.collapse{
		background-color $blue
	}
	.nav.navbar-nav.navbar-right {
		height 244px
	}
	.navbar-nav > li {
		padding 0px 0px
		width 42%
		text-align center
		margin 0px auto
	}
	.navbar-default.navbar-fixed-top li {
		display block
	}
	.navbar-default .navbar-nav > li > a {
		color $white !important
	}
	.nav li:hover {
		border-bottom 2px solid $btngreen
	}
	.navbar-brand {
		height 68px
		padding 9px 34px
	}
	.navbar-brand > img {
		width 155px
	}
}
@media only screen and (min-width: 765px) and (max-width: 990px){
	.navbar-header {
		width 22%
		float left
	}
	.navbar-brand {
		padding 10px 0
	}
	.navbar-brand > img {
		width 172px
	}
	#bs-example-navbar-collapse-1 {
		width 78%
		float left
	}
	.navbar-nav > li {
		padding 28px 0px
	}
	.nav > li > a {
		padding 0px 10px
	}
}