.navbar-toggle{
	display none
}
.navbar-default.navbar-fixed-top {
  width 100%
  li {
    display inline-block
    }

}
.navbar{
	margin-bottom 0px !important
	border-bottom 0px none !important
}


/* css */

.navbar-default .navbar-nav > li > a {
	color $darkgrey !important
	font-size 18px
}
.navbar-right {
	height 80px
}
.navbar-nav > li {
	padding 13px 5px
}
.navbar-nav > li:hover {
	border-bottom 4px solid $blue
}

.btn-primary:hover {
	color $white !important
	background-color $lightblue !important
	border-color $lightblue !important
}

.about_text{
	color $darkgrey
	font-weight 500
	font-size 18px
	margin-bottom 30px
}

.bg-primary{
	background-image url('../images/rectangle-4@3x.png')
	background-size cover
	padding-bottom 0px
	height 450px
}

.text-center.logo-center {
	margin-bottom 50px
}

.custom_container {
	position relative
	top -165px
}
.text_s2 {
	margin-top 30px
}
.sr-icons {
	height 60px
}

.blog_content h2.blog_title{
	color $darkgrey
	margin-bottom 40px
}
 .blog_content p{
 	color $darkgrey
 }

 .img.img-responsive.thumb-img {
	width 410px
}
.thumbnail {
	width 410px
	padding 0
	background-color $lightgray
	border 0px none
}
.thumbnail .caption p{
	color $darkgrey
	}
.thumb_s1{
	padding-left 100px
	padding-right 100px
	color $darkgrey
}


@media only screen and (max-width: 768px) {
	.navbar-toggle{
		display block
	}
	.navbar-collapse.collapse{
		background-color $blue
	}
	.nav.navbar-nav.navbar-right {
		height: 200px;
	}
	.navbar-nav > li {
		padding 0px 0px
	}
	.navbar-default.navbar-fixed-top li {
		display block
	}
	.navbar-default .navbar-nav > li > a {
		color $white !important
	}
	.navbar-nav > li:hover {
		border-bottom 4px solid $white
	}
}