// COLORS
$white = #ffffff
$blackColor =  #000000
$grey = #979797
$darkgrey = #4a4a4a
$grey1 = #9b9b9b
$blue = #00577b
$lightgray = #f5f5f5
$darkwhite = #e5e5e5
$lightblue = #286090
$btncolor = #6D989C
$footercolor = #a1d1ca
$btngreen = #7bbaaf
$footerbtn = #7DA9BB

// Font weights
$thin = 100
$hairline = $thin 
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black